{% extends "base.html" %}
{% block content %}
<html>

<head>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form name="addForm" id="addForm" method="POST" action="{{ url_for('auth.addpost') }}" novalidate>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>SOURCE POINT</label>
                            <input type="text" class="form-control" placeholder="enter your source point" name="title" id="title" required
                                data-validation-required-message="Please enter your Source Point.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>DESTINATION</label>
                            <input type="text" class="form-control" placeholder="Enter Destination?" name="username"
                                id="username" required
                                data-validation-required-message="Please enter your Destination.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary" id="sendMessageButton">SEE ROUTE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
{% endblock content %}