<!-- {% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Quicksand&family=Roboto+Mono&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Quicksand&display=swap" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
                <h1 style="font-family: 'DM Mono', monospace;
                font-family: 'Quicksand', sans-serif;
                font-family: 'Roboto Mono', monospace; color:black; font-size: 40px"><b>
                        </b></h1>
                <span class="meta">
                    <p><b>Posted by: </b></p> on <i>{{ post.date.strftime('%B %d, %Y') }}</i>
                </span>
            </div>
        </div>
    </div>
</div>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto" style="font-family: 'DM Mono', monospace;
            font-family: 'Quicksand', sans-serif;">
                {{ post.content|safe }}
            </div>
        </div>
    </div>
</article>


{% endblock %} -->